/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*  */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1400px;
    margin: auto;
}

/* Sheared style */

header, main {
    max-width: 1200px;
    margin: auto;
}

.display-flex {
    display: flex;
}

:root {
    --primary-color: #E95A08;
    --secondary-color: #000000;

    --h1-title-lg: 3.5rem;
    --h1-title-sm: 2.5rem;

    --h2-title-lg: 2rem;
    --h2-title-sm: 1.5rem;

    --h4-color: rgb(107, 114, 128);

    --p-text-color: rgba(0, 0, 0, 0.5);

}

h1 {
    font-size: var(--h1-title-lg);
}
h2{
    font-size: var(--h2-title-lg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Noto Sans", sans-serif;
}

p {
    font-family: "Inter", sans-serif;
    color: var(--p-text-color);
    text-align: justify;
}

/* navbar style start here */

.nav-container {
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}

.logo img {
    height: 4rem;
}

.nav-links {
    align-items: center;
    gap: 2rem;
}

.nav-links ul {
    gap: 2rem;
    list-style: none;
    font-family: "Noto Sans", sans-serif;
}

.nav-links a {
    color: rgb(107, 114, 128);
    font-weight: 600;
    text-decoration: none;
}

.active {
    color: black;
}

.shoping-car {
    align-items: center;
    gap: 0.5rem;
}

/* navbar style ended here */

/* Hero banner style start here */

.hero-banner-container {
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    height: 460px;
    margin: 3rem 0;
}

.hero-info,
.hero-banner-img {
    width: 50%;
}

.title {
    margin-bottom: 1rem;
}

.hero-banner-img img {
    width: 100%;
}

.hero-title {
    color: var(--primary-color);
}

/* Hero banner style ended here */

/* Our plants card section style start */

.our-plat-info{
    width: 70%;
    text-align: center;
    margin: 3rem auto ;

}
.our-plat-info p{
    text-align: center;
    margin: 1rem 0;
}

/* card */
.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}

.card{
    text-align: center;
}

.card img{
    width: 100%;
    border-radius: 0.25rem;
}
.card h6 {
    margin: 0.15rem 0;
    font-size: 1rem;
}
.card h4 {
    font-size: 1.25rem; 
    margin: 1rem 0;
}
.card button {
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    width: 100%;
    background-color: var(--primary-color);
    padding: 0.5rem 0;
    margin-bottom: 1rem;
    border: none;
    border-radius: 0.3rem;
}

/* Our plants card section style start */



/* Mobile responsive style */

@media screen and (max-width: 480px) {

    h1 {
        font-size: var(--h1-title-sm);
    }

    /* navbar style */
    .nav-container {
        padding: 0 0.2rem;
    }

    .logo img {
        height: 3rem;
    }

    .nav-links ul {
        display: none;
    }

    /* navbar style  ended*/

    /* hero banner style start */

    .hero-banner-container {
        flex-direction: column-reverse;
        height: 100%;
        padding: 0 0.25rem;
    }

    .hero-info,
    .hero-banner-img {
        width: 100%;
    }

    /* hero banner style ended */

    /* Our plants card container */
    .our-plat-info{
        width: 100%;
        margin: auto;
    }

    /* card container */
    .card-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 0.8rem;
        padding:0 0.25rem;
    }

}