/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*  */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    max-width: 1400px;
    margin: auto;
}



/* Sheared style */

header{
    max-width: 1200px;
    margin: auto;
}

.display-flex {
    display: flex;
}

:root {
    --primary-color : #E95A08;
    --secondary-color : #000000;

    --h1-title-lg : 4rem;
    --h1-title-sm : 2rem;

    --h2-title-lg : 2rem;
    --h2-title-sm : 1.5rem;

    --h4-color : rgb(107, 114, 128);

    --p-text-color : rgba(0, 0, 0, 0.5);
    
}

.btn-primary{

}

h1, h2, h3, h4, h5, h6 {
    font-family: "Noto Sans", sans-serif;
}

p {
    font-family: "Inter", sans-serif;
    color: var(--p-text-color);
}

/* navbar style start here */

.nav-container{
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}

.logo img{
    height: 4rem;
}

.nav-links {
    align-items: center;
    gap: 2rem;
}

.nav-links ul {
    gap: 2rem;
    list-style: none;
    font-family: "Noto Sans", sans-serif;
}

.nav-links a{
    color: rgb(107, 114, 128);
    font-weight: 600;
    text-decoration: none;
}
.active{
    color: black;
}

.shoping-car{
    align-items: center;
    gap: 0.5rem;
}


/* navbar style ended here */

/* Mobile responsive style */

@media screen and (max-width: 480px) {

    /* navbar style */
    .nav-container{
        padding: 0 0.2rem;
    }
    .logo img{
        height: 3rem;
    }
    .nav-links ul{
        display: none;
    }
    
}
